apiVersion: v1
kind: Service
metadata:
  name: demo-svc
  namespace: prod
spec:
  type: NodePort
  selector:
    app: demo
  ports:
    - port: 80        # Service port
      targetPort: 80  # Container'ın portu
      nodePort: 30081 # VPS üzerinden erişeceğin port
